name: Reporters-DB PR

on:
  pull_request:

jobs:
  myEvent:
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.FREELAWBOT_TOKEN }}
          repository: freelawproject/eyecite
          event-type: reporters-db-pr
          client-payload: '{"ref": "${{ github.ref }}", "pr_number": "${{ github.event.number }}", "commit": "${{ github.event.pull_request.head.sha }}" }'